@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


html{
  /* margin: 0; */
  scroll-behavior: smooth;
	padding: 0;
	width: 100%;
  height: 100vh;
  font-size: 100%;
  box-sizing: border-box;
}

body{
  margin: 0;
	--color-text: #111;
	--color-bg: #F5F1EB;
	--color-link: #b19e7f;
	--color-link-hover: #000;
	color: var(--color-text);
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  padding: 0;
/* 
	width: 100%;
	height: 100vh; */
	font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

main::before {
	animation: grain 8s steps(10) infinite;
	background-image: url(../img/noise.png);
	content: '';
	height: 300%;
	left: -50%;
	opacity: 0.6;
	position: fixed;
	top: -100%;
	width: 300%;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0); }
  10% { transform:translate(-5%, -10%); }
  20% { transform:translate(-15%, 5%); }
  30% { transform:translate(7%, -25%); }
  40% { transform:translate(-5%, 25%); }
  50% { transform:translate(-15%, 10%); }
  60% { transform:translate(15%, 0%); }
  70% { transform:translate(0%, 15%); }
  80% { transform:translate(3%, 35%); }
  90% { transform:translate(-10%, 10%); }
}

.link-backlight {
  z-index: 2;
  position: relative;
}

.link-backlight:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(3%,45%)scaleX(1);
    height: 85%;
    width: 100%;
    background: rgba(240,77,89,.4);
    transition: .3s ease;
  }

a{
  text-decoration: none;
  color: #271F23;
}

strong{
  font-weight: 600;
}

h1{
  display: block;
  position: relative;
  margin: 10px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

.link{
  position: relative;
  text-decoration: none;
}

.link:after{
  content: '';
  position: absolute;
  width: 0; height: 4px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #ff3636;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

.link:hover:after{
  width: 100%;
  left: 0;
  background: #ff3636;
}


.section-project-info {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-top: 1.7em;
  padding-bottom: 2.35714rem;
  color: #271F23;
  background-color: #F5F1EB;
}

.content-project-info {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  position: relative;
  left: 8.33333%;
  width: 83.33333%;
  margin-bottom: 2.71429rem
}



.list,.list--horizontal {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight:300;
  font-size: 1em;
}

.list--horizontal .list__item {
  display: inline-block;
  vertical-align: top;
}

.list-project-info {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -khtml-font-smoothing: antialiased;
  -apple-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  position: relative;
  left: 8.33333%;
  width: 83.33333%
}


.list-project-info__label {
  margin-top: 1.5em;
  margin-bottom: .4em;
  color: #1e1e1e;
}

.shape-1 {
  width: 300px;
  position: absolute;
  left: -50px;
  bottom: auto;
}


.text-outline {
  /* font-weight:900; */
  color: #E6E8E6;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ff3636;

  display: block;
  margin-bottom: 6px;
  margin-top: 8vh;
  font-size: 10vw;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
 font-weight: 900;
}
.text-outline:hover{

  -webkit-text-fill-color: #ff3636;
 
 
}

.lining{
  border-bottom: 1px solid rgba(65,8,7,.2);
    position: absolute;
    width: 100%;
}



.logo{
	float: left;
	padding: 8px;
	margin-left: 16px;
	margin-top: 8px;
}

.logo a{
	color: #271F23;
	/* text-transform: uppercase; */
	font-weight: 100;
	font-size: 1em;
	letter-spacing: 2px;
	text-decoration: none;
}

.header2 {
  margin: 130px 0 80px 40px;
}

/* .work2 */
.work2 {
  width: 100%;
  text-align: initial;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  left: 17%;
  width: 64%;
}

.work2 .column{
  display: block;
  font-size: 1em;

}
.work2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.work2 img {
  margin: 3%;
  width: 94%;
  border: solid 1px #EDEFFB;
}


/* Hides the input checkbox field on desktop and mobile */
.hidden{
	display: none;
}


nav{
  padding: 0px;
}

nav ul{
	float: right;
}

nav ul li{
	display: inline-block;
	/* float: left; */
}

nav ul li:not(:first-child) {
	margin-left: 48px;
}

nav ul li:last-child{
	margin-right: 24px;
}

nav ul li a{
	/*This makes LI and the A tag the same dimensions*/
	display: inline-block;
	outline: none;
	color: #271F23;
	text-decoration: none;
	font-size: 14px;
	letter-spacing:  1.2px;
  font-weight: 400;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 25%;
	text-transform: uppercase;
}




@media screen and (max-width: 864px){
	.logo {
		padding:10px;
  }

  h2{
    letter-spacing: .02em !important;
  }

  .bio-section .about-paragraph{
    display: block;
    font-size: 1em;
    margin: 0 3vw 0 3vw;
    
    

  }

  .bio-section .bio-info{
    left: 0 !important;
    width: 100% !important;
  }

  .square {
    font-size: 3em !important;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
    align-items: center;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    cursor:default;
    transition:all 0.3s;
    color:#EDEFFB;
  }
  
  .square:hover {
    color:#271F23;
  }

	.nav-wrapper{
		/* Creates the mobile navigation Overlay and covers viewport because it's set to fixed */
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height:  100%;
		z-index: -1;
		background: #F9A688;
		transition: all 0.2s ease;
	}

	.nav-wrapper ul {
		/* Places the Navigation Links in the center of page vertically */
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
	}

	.nav-wrapper ul li{
		/* Removes nav items from being inline and stacks them */
		display: block;
		float: none;
		width:  100%;
		text-align: center;
		margin-bottom: 10px;
	}

	/* Creates the transition effect on mobile */

	.nav-wrapper ul li:nth-child(1) a {
		transition-delay: 0.2s;
	}
	.nav-wrapper ul li:nth-child(2) a {
		transition-delay: 0.3s;
	}
	.nav-wrapper ul li:nth-child(3) a {
		transition-delay: 0.4s;
	}
	.nav-wrapper ul li:nth-child(4) a {
		transition-delay: 0.5s;
	}
	.nav-wrapper ul li:nth-child(5) a {
		transition-delay: 0.6s;
	}

	.nav-wrapper ul li:not(:first-child){
		margin-left: 0;
	}

	.nav-wrapper ul li a{
		padding: 10px 24px;
		opacity: 0;
		color:#ff3636;
    font-size: 3em;
    letter-spacing: 1.2px;
    font-weight: 900;
		transform: translateX(-20px);
		transition: all 0.2s ease;
	}

	.nav-btn{
		/* Creates the mobile hamburger button and positions on the right side */
		position: fixed;
		outline: 0;
		right: 10px;
		top: 10px;
		display: block;
		width: 48px;
		height: 48px;
		cursor: pointer;
		z-index: 10;
		border-radius: 50%;
	}

	.nav-btn i{
		display: block;
		width: 20px;
		height: 2px;
		background:#271F23;
		border-radius: 2px;
		margin-left: 14px;
	}

	.nav-btn i:nth-child(1){
		margin-top: 16px;
	}
	.nav-btn i:nth-child(2){
		margin-top: 4px;
		opacity: 1;
	}
	.nav-btn i:nth-child(3){
		margin-top: 4px;
	}

	#nav:checked + .nav-btn {
		transform: rotate(45deg);
	}

	#nav:checked + .nav-btn i {
		background: #EDEFFB;
		transition: transform 0.2s ease;
	}

	#nav:checked + .nav-btn i:nth-child(1) {
		transform: translateY(6px) rotate(180deg);
	}

	#nav:checked + .nav-btn i:nth-child(2) {
		opacity: 0;
	}

	#nav:checked + .nav-btn i:nth-child(3) {
		transform: translateY(-6px) rotate(90deg);
	}

	#nav:checked ~ .nav-wrapper{
		opacity: 1;
		z-index: 9;
	}

	#nav:checked ~ .nav-wrapper ul li a{
		opacity: 1;
		transform: translateX(0);
	}
/* x button */
	#nav:checked + .nav-btn i{
		background-color: #ff3636
	}
}

.gradient-purple-blue {
  background-image: linear-gradient(0deg, #F5F1EB , #F5F1EB );
}

.under-container {
  width:100vw;
  max-width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.title {
  font-size:50px;
  color:white;
}


.line {
  display:flex;
  position:relative;
  z-index:3;
}

.square {
  font-size:5em;
  font-family: 'Montserrat', sans-serif;
  font-weight:900;
  align-items: center;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  cursor:default;
  transition:all 0.3s;
  color: #ff3636;
}

.square:hover {
  color:#271F23;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1)
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1)
  }
  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1)
  }
  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1)
  }
  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1)
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}
@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
    -ms-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1)
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    -ms-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1)
  }
  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    -ms-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1)
  }
  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    -ms-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1)
  }
  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    -ms-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1)
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}
.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand
}

.button {
  padding:5px 15px;
  display: inline;
  font-family: 'Montserrat', sans-serif;
  /* height: 5%;
  width: 9%; */
  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: .4em;
  font-weight: 400;
  color: #271F23;
  background-color: #fff;
  border: none;
  border-radius: 0px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

h2{
  position: relative;
  margin: 10px 0 25px 0;
  font-size: 1.7em;
  text-align: center;
  letter-spacing: .1em;
  text-transform: uppercase;
}

p{
  position: relative;
  display: block;
  margin: 10px 0 25px 0;
  font-size: 1em;
  text-align: initial;
  line-height: 1.4rem;
  letter-spacing: 0.9px;
  font-weight: 100;
}


.mouse {
  display:flex;
  width:30px;
  height:50px;
  border:2px solid #fff;
  border-radius:25px;
}

.molette {
  margin:12px auto auto auto;
  width:3px;
  height:3px;
  background-color:#fff;
  border: 1px solid #fff;
  border-radius: 10px;
  animation: scroll 1.5s ease infinite;
}

@keyframes scroll {
  0%{opacity:0; margin:10px auto auto auto;}
  10%{opacity:1;}
  50%{margin:10px auto auto auto;}
  90%{opacity:1;}
  100%{opacity:0; margin:18px auto auto auto;}
}

.mousetext{
  color:#fff;
  font-weight: 500;
}


.bubble {
  position:relative;

}

.bubble::before
{
  content: '';
  position:absolute;
  z-index:2;
  /* top: 40%;
  left: 40%; */
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  perspective: 1000px;
  display: block;
  width: 15vw;
  height: 15vh;
  min-height: 300px;
  min-width: 300px;
  background: linear-gradient(
    270deg,
    #38f9d7,
    #DB7890,
    #8ec5fc,
    #4facfe,
    #00f2fe,
    #a8edea,
    #fed6e3
  );
  background-size: 1600% 1600%;
  box-shadow: inset 0px -20px 100px 0px rgba(255, 255, 255, 0.48);
  animation:
    transform 20s linear infinite alternate,
    movement 40s linear infinite alternate,
    shade 60s linear infinite alternate;
}

.bubble::after
{
  content: '';
  position:absolute;
  z-index:2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  perspective: 1000px;
  display: block;
  width: 15vw;
  height: 15vw;
  min-height: 200px;
  min-width: 200px;
  background: linear-gradient(
    270deg,
    #00f2fe,
    #8ec5fc,
    #38f9d7,
    #4facfe,
    #a8edea,
    #5CD3EE,
    #fed6e3
  );
  background-size: 1600% 1600%;
  box-shadow: inset 0px -20px 100px 0px rgba(255, 255, 255, 0.48);
  animation:
    transform2 20s linear infinite alternate-reverse,
    movement 40s linear infinite alternate-reverse,
    shade 60s linear infinite alternate-reverse;
}

@keyframes transform
{
    0%,
  100% { border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%; }
   20% { border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%; }
   40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%; }
   60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%; }
   80% { border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%; }
}

@keyframes transform2 {
  0%{border-radius: 42% 58% 60% 40% / 32% 54% 46% 68%}
  20%{border-radius: 59% 41% 36% 64% / 32% 64% 36% 68%}
  40%{border-radius: 48% 52% 52% 48% / 54% 53% 47% 46%}
  60%{border-radius: 42% 58% 51% 49% / 63% 64% 36% 37%}
  80%{border-radius: 32% 68% 33% 67% / 63% 35% 65% 37%}
  100%{border-radius: 34% 66% 52% 48% / 34% 53% 47% 66%}
}

@keyframes movement
{
  from { -webkit-transform: rotate(-1turn) translateY(-50px); transform: rotate(-1turn) translateY(-50px); }
    to { -webkit-transform: none; transform: none; }
}

@keyframes shade
{
  0%, 100% { background-position: 0% 50%; }
       50% { background-position: 100% 50%; }
}


/*About Section*/
section{
  display:block;
  font-size:1rem;
  padding-bottom: 150px;
  padding-left: 9.375vw;
  padding-right: 9.375vw;
  padding-top: 150px;
}
.bio-section{
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: left;
  /* padding-top: 2em;
  padding-bottom: .2em; */
  color: #353639;
  background-color: #F5F1EB;
}
.bio-section .bio-info{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  left: 17%;
  width: 64%;
}

.bio-section .about-paragraph{
  display: block;
  font-size: 1em;
  /* margin: 0 15vw 0 15vw; */
  

}



/*works section*/
.project-section{
  background: #F5F1EB;
	color: #271F23;
  padding-top: 1.5em;
  padding-bottom: 7em;
  
}


/*Contact section*/
.contact-section{
  background: #F5F1EB;
	color: #EED2CC;
  padding-top: 1%;
  padding-right: 25%;
  padding-left: 25%;
  padding-bottom: 10%;
}

#form {
  position: relative;
  width: 400px;
  margin: 50px auto 100px auto;
}

input {
  font-size: 0.875em;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #EED2CC;
  padding: 10px;
  width:100%;



  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea {
  margin: 0px 0;
  background: transparent;
  border: 0px;
  padding: 10px;
 width:100%;

  height: 250px;

  max-height: 110px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875em;
  border-bottom: 2px solid #EED2CC;


  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}


footer {
  font-size: .6em;
  color: #EDEFFB;
  background: #F5F1EB;
  position: relative;
  bottom: 0px;
  padding: 17px 0 18px 0;
  text-align: center;
  width: 100%;
  bottom: 0px;
}

footer a:hover {
  color: #efefef;
}

.meta {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
}


