@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


html{
  /* margin: 0; */
  scroll-behavior: smooth;
	padding: 0;
	width: 100%;
  height: 100vh;
  font-size: 100%;
  box-sizing: border-box;
}

body{
  margin: 0;
	--color-text: #272727;
	--color-bg: #F5F0EA;
	--color-link: #b19e7f;
	--color-link-hover: #000;
	color: var(--color-text);
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  padding: 0;
/* 
	width: 100%;
	height: 100vh; */
	font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

main::before {
	animation: grain 8s steps(10) infinite;
	/* background-image: url(../img/noise.png); */
	content: '';
	height: 300%;
	left: -50%;
	opacity: 0.6;
	position: fixed;
	top: -100%;
	width: 300%;
}

@keyframes grain {
  0%, 100% { transform:translate(0, 0); }
  10% { transform:translate(-5%, -10%); }
  20% { transform:translate(-15%, 5%); }
  30% { transform:translate(7%, -25%); }
  40% { transform:translate(-5%, 25%); }
  50% { transform:translate(-15%, 10%); }
  60% { transform:translate(15%, 0%); }
  70% { transform:translate(0%, 15%); }
  80% { transform:translate(3%, 35%); }
  90% { transform:translate(-10%, 10%); }
}

.link-view{
  text-decoration: underline;
  color: #EA5439;
  line-height: 1.4rem;
  letter-spacing: 0.9px;
  font-weight: 300;
  font-size: .8em;
}

a{
  text-decoration: none;
  color: ##272727;
}

h3{
  font-size: .7em;
}
strong{
  font-weight: 600;
}

h1{
  display: block;
  position: relative;
  margin: 10px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}



.link{
  position: relative;
  text-decoration: none;
}

.link:after{
  content: '';
  position: absolute;
  width: 0; height: 4px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #EA5439;
  transition: width .2s ease;
  -webkit-transition: width .2s ease;
}

.link:hover:after{
  width: 100%;
  left: 0;
  background: #EA5439;
}

.section-header-about-info{
  padding-bottom: 0%;


}

.project-header{
  background-color:  #F5F0EA;
  box-sizing: border-box;
  min-width: 0px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 100%;
}

.project-header-title{
  box-sizing: border-box;
    min-width: 0px;
    color: #EA5439;
    display: inline-block;
    line-height: 1em;
    margin: 0px;
    font-size: 3em;
    font-family: 'Cardo', serif;
}

.project-header-under{
  font-size: .3em;
  font-weight: 300;
  letter-spacing: 3px;
}
}

.section-project-info {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-top: 1.7em;
  padding-bottom: 2.35714rem;
  color: #271F23;
 
}

.content-project-info {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  position: relative;
  left: 8.33333%;
  width: 83.33333%;
  margin-bottom: 2.71429rem
}



.list,.list--horizontal {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight:300;
  font-size: 1em;
}

.list--horizontal .list__item {
  display: inline-block;
  vertical-align: top;
}

.list-project-info {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -khtml-font-smoothing: antialiased;
  -apple-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  position: relative;
  left: 8.33333%;
  width: 83.33333%
}


.list-project-info__label {
  margin-top: 1.5em;
  margin-bottom: .4em;
  color: #1e1e1e;
}

.shape-1 {
  width: 300px;
  position: absolute;
  left: -50px;
  bottom: auto;
}


.text-outline {
  /* font-weight:900; */
  color: #E6E8E6;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;

  display: block;
  margin-bottom: 6px;
  margin-top: 8vh;
  font-size: 10vw;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
 font-weight: 900;
}
.text-outline:hover{

  -webkit-text-fill-color: #EA5439;
 
 
}

.lining{
  border-bottom: 1px solid rgba(65,8,7,.2);
    position: absolute;
    width: 100%;
}



.logo{
	float: left;
	padding: 8px;
	margin-left: 16px;
	margin-top: 8px;
}

.logo a{
	color: #272727;
	/* text-transform: uppercase; */
	font-weight: 900;
	font-size: 1em;
	letter-spacing: 2px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.header2 {
  margin: 130px 0 80px 40px;
}

/* .work2 */
.work2 {
  text-align: initial;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.work2 .column{
  display: block;
  font-size: 1em;

}
.work2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.work2 img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  margin: 3%;
  width: 94%;
  border: solid 1px #EDEFFB;
}

.work2 iframe {
  vertical-align: middle;
  margin: 3%;
  position: relative;
  width: 100%;
  height: 50vw;


}


/* Hides the input checkbox field on desktop and mobile */
.hidden{
	display: none;
}


nav{
  padding: 0px;
}

nav ul{
	float: right;
}

nav ul li{
	display: inline-block;
	/* float: left; */
}

nav ul li:not(:first-child) {
	margin-left: 48px;
}

nav ul li:last-child{
	margin-right: 24px;
}

nav ul li a{
	/*This makes LI and the A tag the same dimensions*/
	display: inline-block;
	outline: none;
	color:  #272727;
	text-decoration: none;
	font-size: 14px;
	letter-spacing:  1.2px;
  font-weight: 400;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 25%;
  font-family: 'Montserrat', sans-serif;
}

.contact{
  padding-left: 180px;
}


.marquee {
	width: 100%;
	height:120px;
	line-height:120px;
	overflow: hidden;
	padding:0;
}
.marquee span {
	position:relative;
	padding: 0 50px 0 0;
	height:120px;
	line-height:120px;
	font-size: 7em;
	overflow:visible;
	white-space:nowrap;
}

.marquee a{
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-text-stroke: 1px #292929;
  text-stroke: 1px #292929;
  color: transparent;
  font-family: 'Cardo', serif;
  font-weight: 600;
  text-transform:uppercase; 
}



.marquee span::before {
	position:absolute;
	top:20px;
	left:-110px;
	display:block;
	width:100px;
	height:48px;
	line-height:12px;
	font-size:12px;
	text-transform:uppercase;
	text-align:right;
	white-space:normal;
}


iframe, img, video {
  vertical-align: middle;
}

.sides {
  padding-right: 60px !important;
  padding-left: 60px !important;
}
.video {
  margin-bottom: 150px;
  margin-top: 150px;
}

.text-block {
  margin-top: 150px;
  margin-bottom: 150px;
}

.image{
  margin-top: 150px;
  margin-bottom: 150px;
}

.wrap-540 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}
.wrap-1240 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
.full-image {
  margin-top: 150px;
  margin-bottom: 150px;
}
.full-image img {
  display: block;
  width: 100%;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  width: 100%;
  height: auto;
}

iframe{
  width: 1200px;
  height: 675px;
}

@media screen and (max-width: 864px){
	.logo {
		padding:10px;
  }
  .project__content{
    min-height: 100vh;
    /* padding-top: 150px; */
  }

  iframe{
    width:335px;
     height: 188.4375px; 
  }
  

  .wrap-1240 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    }

    .sides {
      padding-left: 20px !important;
      padding-right: 20px !important;
  }

  .video {
    margin-top: 90px;
    margin-bottom: 90px;
  }

.text-block {
  margin-top: 90px;
  margin-bottom: 90px;
}

.text-block__wrap {
  max-width: 100%;
  width: 100%;
}
.text-block__title {
  display: block;
  margin-bottom: 24px;
}

.text-26 {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.30769;
  letter-spacing: 0;
  font-family: CanelaText,sans-serif;
  font-size: 19px;
}

.wrap-540 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 270px;
}

.image {
  margin-top: 90px;
  margin-bottom: 90px;
}

.video__wrap {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.p, p {
  margin: 0 0 1.5em !important;
}

 
  

  .full-image {
    margin-top: 90px;
    margin-bottom: 90px;
}

.full-image img {
  display: block;
  width: 100%;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

  .marquee a{
   font-size: .7em !important;
  }

  .socials{
    justify-content: space-between !important;
    width: 100%;
    padding: 0 12vw;
    display: flex;
  }
  
  .socials a{
    margin: 0 !important;
  }

  .contact{
    padding-left: 35px !important;
  }

  .bio-info  h1{
    text-align: initial;
    padding-left: 2.5vw;
    text-transform: uppercase;
    padding-bottom: 90px !important;
    padding-top: 20px !important;
    font-size: 5vw !important;
    line-height: 1.5;
  }

  .next__title {
 
    display: block;
    line-height: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-text-stroke: 1px #292929;
    text-stroke: 1px #292929;
    color: transparent;
    position: relative;
    text-transform: uppercase;
  }
  
  .next__title:after {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #292929;
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
  }
  
  .next:hover .next__title:after {
    opacity: 1;
  }
  
  .text-75 {
    font-size: 75px;
    font-weight: 900;
    line-height: 1.06667;
    letter-spacing: .02853em;
    font-family: 'Cardo', serif;
    font-size: 3em !important
  }

  .project-header-title{
    box-sizing: border-box;
    display: block;
    text-align: center;
    line-height: 1;
    margin-bottom: -.5em;
    font-size: 1em;
    letter-spacing: inherit;
    font-family: 'Cardo', serif;
  }

  .project-header-under {
    font-size: .1em;
    font-weight: 300;
    letter-spacing: 3px;
}

  .contact-me h3{
    padding-top: 20% !important;

  
  }

  .bio-section{
    padding-bottom: 5% !important;
    padding-top: 25% !important;
  }
  .contact-me ul li a {

    font-size: .7em !important;

}

  .copyright{
    display:none !important;
  }

  .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }

.about-paragraph p{
  font-size: 1.3em !important;
}

  h2{
    letter-spacing: .02em !important;
  }

  .bio-section .about-paragraph{
    display: block;
    font-size: 1em;
    margin: 0 3vw 0 3vw;
    
    

  }

  .bio-section .bio-info{
    left: 0 !important;
    width: 100% !important;
  }

  .square {
    font-size: 3em !important;
    font-family: 'Cardo', serif;
    font-weight:900;
    align-items: center;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    cursor:default;
    transition:all 0.3s;
    color:#EDEFFB;
  }
  
  .square:hover {
    color:#F5A88E;
  }



	.nav-btn{
		/* Creates the mobile hamburger button and positions on the right side */
		position: fixed;
		outline: 0;
		right: 10px;
		top: 10px;
		display: block;
		width: 48px;
		height: 48px;
		cursor: pointer;
		z-index: 10;
		border-radius: 50%;
	}

	.nav-btn i{
		display: block;
		width: 20px;
		height: 2px;
		background: #EA5439;
		border-radius: 2px;
		margin-left: 14px;
	}

	.nav-btn i:nth-child(1){
		margin-top: 16px;
	}
	.nav-btn i:nth-child(2){
		margin-top: 4px;
		opacity: 1;
	}
	.nav-btn i:nth-child(3){
		margin-top: 4px;
	}

	#nav:checked + .nav-btn {
		transform: rotate(45deg);
	}

	#nav:checked + .nav-btn i {
		background: #EDEFFB;
		transition: transform 0.3s ease;
	}

	#nav:checked + .nav-btn i:nth-child(1) {
		transform: translateY(6px) rotate(180deg);
	}

	#nav:checked + .nav-btn i:nth-child(2) {
		opacity: 0;
	}

	#nav:checked + .nav-btn i:nth-child(3) {
		transform: translateY(-6px) rotate(90deg);
	}

	#nav:checked ~ .nav-wrapper{
		opacity: 1;
    z-index: 9;
    background: #272727;
	}

	#nav:checked ~ .nav-wrapper ul li a{
		opacity: 1;
		transform: translateX(0);
	}
/* x button */
	#nav:checked + .nav-btn i{
		background-color: #EA5439
	}
}

.gradient-purple-blue {
  background-image: linear-gradient(0deg, #F5F0EA , #F5F0EA );
}

.under-container {
  width:100vw;
  max-width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.wrapper {
  position: absolute;
  /* width: 500px;
  height: 500px; */

}
.wrapper span {
  background: #FAE6DA;
  position: absolute;
  border-radius: 50%;
  display: inline-block;
}
.wrapper p {
  position: absolute;
  top: 50%;
  left: 50%;
}

.wrapper h1{
  display: block;
  position: relative;
  margin: 1px 0 1px 0;
  font-size: 2.3em;
  text-align: initial;
  letter-spacing: 7px;
}
.wrapper p:nth-child(1) {
  position: absolute;
  -webkit-animation: skewing-child .2s ease-in-out infinite alternate;
          animation: skewing-child .2s ease-in-out infinite alternate;
}
.wrapper p:nth-child(1) span {
  width: 50px;
  height: 50px;
  margin: -25px;
  -webkit-animation: moving 2s cubic-bezier(0.97, 0.01, 0.12, 0.99) infinite alternate;
          animation: moving 2s cubic-bezier(0.97, 0.01, 0.12, 0.99) infinite alternate;
}
.wrapper p:nth-child(2) {
  position: absolute;
  -webkit-animation: squishing 1s ease-in-out infinite alternate;
          animation: squishing 1s ease-in-out infinite alternate;
}
.wrapper p:nth-child(2) span {
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  margin: -60px;
  -webkit-animation: skewing 2s 1.5s ease-in-out infinite;
          animation: skewing 2s 1.5s ease-in-out infinite;
}

@-webkit-keyframes skewing {
  0% {
    -webkit-transform: skewX(6deg);
            transform: skewX(6deg);
  }
  10% {
    -webkit-transform: skewX(-6deg);
            transform: skewX(-6deg);
  }
  20% {
    -webkit-transform: skewX(4deg);
            transform: skewX(4deg);
  }
  30% {
    -webkit-transform: skewX(-4deg);
            transform: skewX(-4deg);
  }
  40% {
    -webkit-transform: skewX(2deg);
            transform: skewX(2deg);
  }
  50% {
    -webkit-transform: skewX(-6deg);
            transform: skewX(-6deg);
  }
  55% {
    -webkit-transform: skewX(6deg);
            transform: skewX(6deg);
  }
  60% {
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
  }
  65% {
    -webkit-transform: skewX(5deg);
            transform: skewX(5deg);
  }
  70% {
    -webkit-transform: skewX(-4deg);
            transform: skewX(-4deg);
  }
  75% {
    -webkit-transform: skewX(4deg);
            transform: skewX(4deg);
  }
  80% {
    -webkit-transform: skewX(-3deg);
            transform: skewX(-3deg);
  }
  85% {
    -webkit-transform: skewX(3deg);
            transform: skewX(3deg);
  }
  90% {
    -webkit-transform: skewX(-2deg);
            transform: skewX(-2deg);
  }
  95% {
    -webkit-transform: skewX(2deg);
            transform: skewX(2deg);
  }
  100% {
    -webkit-transform: skewX(1deg);
            transform: skewX(1deg);
  }
}

@keyframes skewing {
  0% {
    -webkit-transform: skewX(6deg);
            transform: skewX(6deg);
  }
  10% {
    -webkit-transform: skewX(-6deg);
            transform: skewX(-6deg);
  }
  20% {
    -webkit-transform: skewX(4deg);
            transform: skewX(4deg);
  }
  30% {
    -webkit-transform: skewX(-4deg);
            transform: skewX(-4deg);
  }
  40% {
    -webkit-transform: skewX(2deg);
            transform: skewX(2deg);
  }
  50% {
    -webkit-transform: skewX(-6deg);
            transform: skewX(-6deg);
  }
  55% {
    -webkit-transform: skewX(6deg);
            transform: skewX(6deg);
  }
  60% {
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
  }
  65% {
    -webkit-transform: skewX(5deg);
            transform: skewX(5deg);
  }
  70% {
    -webkit-transform: skewX(-4deg);
            transform: skewX(-4deg);
  }
  75% {
    -webkit-transform: skewX(4deg);
            transform: skewX(4deg);
  }
  80% {
    -webkit-transform: skewX(-3deg);
            transform: skewX(-3deg);
  }
  85% {
    -webkit-transform: skewX(3deg);
            transform: skewX(3deg);
  }
  90% {
    -webkit-transform: skewX(-2deg);
            transform: skewX(-2deg);
  }
  95% {
    -webkit-transform: skewX(2deg);
            transform: skewX(2deg);
  }
  100% {
    -webkit-transform: skewX(1deg);
            transform: skewX(1deg);
  }
}
@-webkit-keyframes skewing-child {
  0% {
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
  }
  100% {
    -webkit-transform: skewX(10deg);
            transform: skewX(10deg);
  }
}
@keyframes skewing-child {
  0% {
    -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
  }
  100% {
    -webkit-transform: skewX(10deg);
            transform: skewX(10deg);
  }
}
@-webkit-keyframes moving {
  0% {
    -webkit-transform: translate(-200px);
            transform: translate(-200px);
  }
  30% {
    -webkit-transform: translate(-45px);
            transform: translate(-45px);
  }
  70% {
    -webkit-transform: translate(45px);
            transform: translate(45px);
  }
  100% {
    -webkit-transform: translate(200px);
            transform: translate(200px);
  }
}
@keyframes moving {
  0% {
    -webkit-transform: translate(-200px);
            transform: translate(-200px);
  }
  30% {
    -webkit-transform: translate(-45px);
            transform: translate(-45px);
  }
  70% {
    -webkit-transform: translate(45px);
            transform: translate(45px);
  }
  100% {
    -webkit-transform: translate(200px);
            transform: translate(200px);
  }
}
@-webkit-keyframes squishing {
  10%, 40%, 80% {
    -webkit-transform: scale(1, 0.9);
            transform: scale(1, 0.9);
  }
  0%, 30%, 60%, 100% {
    -webkit-transform: scale(0.9, 1);
            transform: scale(0.9, 1);
  }
}
@keyframes squishing {
  10%, 40%, 80% {
    -webkit-transform: scale(1, 0.9);
            transform: scale(1, 0.9);
  }
  0%, 30%, 60%, 100% {
    -webkit-transform: scale(0.9, 1);
            transform: scale(0.9, 1);
  }
}

.title {
  font-size:50px;
  color:white;
}


.line {
  display:flex;
  position:relative;
  z-index:3;
}

.square {
  font-size:9em;
  font-family: 'Cardo', serif;
  font-weight:900;
  align-items: center;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  cursor:default;
  transition:all 0.3s;
  color: #EA5439;
}

.square:hover {
  color: #F5A88E;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1)
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1)
  }
  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1)
  }
  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1)
  }
  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1)
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}
@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
    -ms-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1)
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    -ms-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1)
  }
  50% {
    -webkit-transform: scale3d(1.15, .85, 1);
    -ms-transform: scale3d(1.15, .85, 1);
    transform: scale3d(1.15, .85, 1)
  }
  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    -ms-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1)
  }
  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    -ms-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1)
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}
.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand
}

.back-button{
  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: .4em;
  font-weight: 400;
  color: #271F23;
  padding: 40px;
  position: absolute;
    top: 50%;
    left: -38px;
    width: 38px;
    height: 1px;
    margin-top: -1px;
    background: currentColor;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}

.position-top-right {
  top: 0;
  right: 0;
  padding: 40px;
}

.button {
  padding:5px 15px;
  display: inline;
  font-family: 'Montserrat', sans-serif;
  /* height: 5%;
  width: 9%; */
  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: .4em;
  font-weight: 400;
  color: #271F23;
;
  border: none;
  border-radius: 0px;

  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button:hover {

  color:#271F23;
  transform: translateY(-7px);
}

.next{
  position: relative;
  display: block;
}
.next__content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.sides {
  padding-left: 20px;
  padding-right: 20px;
}
.next__sub {
  text-transform: uppercase;
  margin-bottom: 12px;
}
.text-14 {
  font-size: 14px;
  line-height: 1.57143;
  letter-spacing: .02786em;
  font-size: 13px;
  color: #EA5439;
}
.next__title {
  display: block;
  line-height: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-text-stroke: 1px #292929;
  text-stroke: 1px #292929;
  color: transparent;
  position: relative;
  text-transform: uppercase;
}

.next__title:after {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #292929;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.next:hover .next__title:after {
  opacity: 1;
}

.text-75 {
  font-size: 75px;
  font-weight: 900;
  line-height: 1.06667;
  letter-spacing: .02853em;
  font-family: 'Cardo', serif;
  font-size: 7em;
}

h2{
  position: relative;
  margin: 10px 0 25px 0;
  font-size: 1.7em;
  text-align: center;
  letter-spacing: .1em;
  text-transform: uppercase;
}

p{
  position: relative;
  display: block;
  margin: 10px 0 25px 0;
  font-size: 1em;
  text-align: initial;
  line-height: 1.4rem;
  letter-spacing: 0.9px;
  font-weight: 100;
}


.mouse {
  display:flex;
  width:30px;
  height:50px;
  border:2px solid #fff;
  border-radius:25px;
}

.molette {
  margin:12px auto auto auto;
  width:3px;
  height:3px;
  background-color:#fff;
  border: 1px solid #fff;
  border-radius: 10px;
  animation: scroll 1.5s ease infinite;
}

@keyframes scroll {
  0%{opacity:0; margin:10px auto auto auto;}
  10%{opacity:1;}
  50%{margin:10px auto auto auto;}
  90%{opacity:1;}
  100%{opacity:0; margin:18px auto auto auto;}
}

.mousetext{
  color:#fff;
  font-weight: 500;
}


.bubble {
  position:relative;

}

.bubble::before
{
  content: '';
  position:absolute;
  z-index:2;
  /* top: 40%;
  left: 40%; */
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  perspective: 1000px;
  display: block;
  width: 15vw;
  height: 15vh;
  min-height: 300px;
  min-width: 300px;
  background: linear-gradient(
    270deg,
    #38f9d7,
    #DB7890,
    #8ec5fc,
    #4facfe,
    #00f2fe,
    #a8edea,
    #fed6e3
  );
  background-size: 1600% 1600%;
  box-shadow: inset 0px -20px 100px 0px rgba(255, 255, 255, 0.48);
  animation:
    transform 20s linear infinite alternate,
    movement 40s linear infinite alternate,
    shade 60s linear infinite alternate;
}

.bubble::after
{
  content: '';
  position:absolute;
  z-index:2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  perspective: 1000px;
  display: block;
  width: 15vw;
  height: 15vw;
  min-height: 200px;
  min-width: 200px;
  background: linear-gradient(
    270deg,
    #00f2fe,
    #8ec5fc,
    #38f9d7,
    #4facfe,
    #a8edea,
    #5CD3EE,
    #fed6e3
  );
  background-size: 1600% 1600%;
  box-shadow: inset 0px -20px 100px 0px rgba(255, 255, 255, 0.48);
  animation:
    transform2 20s linear infinite alternate-reverse,
    movement 40s linear infinite alternate-reverse,
    shade 60s linear infinite alternate-reverse;
}

@keyframes transform
{
    0%,
  100% { border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%; }
   20% { border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%; }
   40% { border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%; }
   60% { border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%; }
   80% { border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%; }
}

@keyframes transform2 {
  0%{border-radius: 42% 58% 60% 40% / 32% 54% 46% 68%}
  20%{border-radius: 59% 41% 36% 64% / 32% 64% 36% 68%}
  40%{border-radius: 48% 52% 52% 48% / 54% 53% 47% 46%}
  60%{border-radius: 42% 58% 51% 49% / 63% 64% 36% 37%}
  80%{border-radius: 32% 68% 33% 67% / 63% 35% 65% 37%}
  100%{border-radius: 34% 66% 52% 48% / 34% 53% 47% 66%}
}

@keyframes movement
{
  from { -webkit-transform: rotate(-1turn) translateY(-50px); transform: rotate(-1turn) translateY(-50px); }
    to { -webkit-transform: none; transform: none; }
}

@keyframes shade
{
  0%, 100% { background-position: 0% 50%; }
       50% { background-position: 100% 50%; }
}


/*About Section*/
section{
  display:block;
  font-size:1rem;
  padding-bottom: 150px;
  padding-left: 9.375vw;
  padding-right: 9.375vw;
  padding-top: 150px;
}


.bio-section{
  /* padding-bottom: 1.5%; */
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  /* order: 0;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto; */
  text-align: left;
  /* padding-top: 2em;
  padding-bottom: .2em; */
  color: #353639;
  /* background-color: #F5F1EB; */
}
.bio-section .bio-info{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  left: 10%;
  width: 80%;
}

.bio-section .about-paragraph{
  display: block;
  font-size: 1em;
  /* margin: 0 15vw 0 15vw; */
}

.bio-section .about-paragraph p{ 
  font-weight: 200;
  font-size: 2em;
  line-height: 1.4;
}

.bio-info  h1{
  font-family: 'Cardo', serif;
  font-weight: 400;
  text-align: initial;
  font-size: 4vw;
  text-transform: uppercase;
  padding-bottom: 160px;
  padding-top: 90px;
    letter-spacing: 0.13em;
    line-height: 1.5em;

}

.contact h1{
  font-family: 'Cardo', serif;
  font-weight: 400;
  text-align: initial;
  max-width: 18em;
  padding-bottom: 140px;
  padding-top: 80px;
  font-size: 4vw;
  line-height: 1.5;
  letter-spacing: 0;
}

.bio-section .about-paragraph h3{ 
  font-weight: 300;

}

/*test section */



@keyframes from0to360 {
  from{transform:rotate(0);}
  to{transform:rotate(360deg);}
}
@keyframes from360to0 {
  from{transform:rotate(360deg);}
  to{transform:rotate(0deg);}
}
@keyframes scaleUp {
  from{transform:scale(0.8);}
  to{transform:scale(1);}
}
@keyframes scaleDown {
  from{transform:scale(1);}
  to{transform:scale(0.8);}
}

@keyframes from360to0scaled {
  from{transform:rotate(360deg) scale(1.1); }
  to{transform:rotate(0deg) scale(0.25);}
}

.blob-svg {
will-change: transform;
}

.circle1 {
  animation: from0to360 10s linear infinite;
  cx: 150;
  cy: 145;
  r: 100;
  fill: white;
  transform-origin: 145px 150px;
}
.circle2 {
  animation: from360to0 20s linear infinite;
  cx: 150;
  cy: 155;
  r: 100;
  fill: white;
  transform-origin: 160px 150px;
}

.circle3 {
  animation: from0to360 30s linear infinite alternate;
  cx: 145;
  cy: 150;
  r: 100;
  fill: white;
  transform-origin: 150px 145px;
}

.circle4 {
  animation: from360to0 25s linear infinite;
  cx: 155;
  cy: 150;
  r: 100;
  fill: white;
  transform-origin: 150px 155px;
}

.ellipse1 {
  animation: from360to0scaled 20s linear infinite alternate;
  rx: 120;
  ry: 100;
  cx: 150;
  cy: 150;
  fill: white;
  transform-origin: 130px 155px;
}
.ellipse2 {
  animation: from0to360 15s linear infinite;
  rx: 120;
  ry: 100;
  cx: 150;
  cy: 150;
  fill: white;
  transform-origin: 150px 155px;
}



/*works section*/
.project-section{
  background: #F5F0EA;
	color: #271F23;
  padding-top: 1.5em;
  padding-bottom: 7em;
  
}


/*Contact section*/
.contact-section{
  background: #FDE7DB;
	color: #EED2CC;
  padding-top: 1%;
  padding-right: 25%;
  padding-left: 25%;
  padding-bottom: 10%;
}

.contact-me ul{
  list-style: none;
}


.contact-me h3{
  padding-top: 15%;
  text-transform: uppercase;

}

.contact-me ul li{
  display: inline-block;
}

.contact-me ul li a{ 
  display: inline-block;
    outline: none;
    color: #271F23;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: 300;
    padding-left: 0%;
    padding-right: 1.5em;
    padding-top: 25%;

}



  .copyright {
    position: fixed;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    bottom: 30px;
    left: 40px;
    text-align: left;
    text-align: initial;
    font-weight: 200;
	font-size: .7em;
	color: #292929;
}




#form {
  position: relative;
  width: 400px;
  margin: 50px auto 100px auto;
}

input {
  font-size: 0.875em;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #EED2CC;
  padding: 10px;
  width:100%;



  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea {
  margin: 0px 0;
  background: transparent;
  border: 0px;
  padding: 10px;
 width:100%;

  height: 250px;

  max-height: 110px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875em;
  border-bottom: 2px solid #EED2CC;


  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}


footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.socials{
  font-family: 'Cardo', serif; 
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.socials a{
  transform: translateY(0%);
  opacity: 1;
  color: #272727;
    display: block;
    margin: 0 50px;
    transition: color .4s cubic-bezier(.215,.61,.355,1);
}

/* footer a:hover {
  color: #efefef;
} */

.meta {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
}


